name: Regular CI
on:
  push:
      branches:
        - "**"
        - "!pr/*"
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v5
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
      - uses: pnpm/action-setup@v4
        with:
          run_install: true
      - name: Lint (prebuild)
        run: node --run lint:prebuild
      - name: Build
        run: node --run build
      - name: Lint (postbuild)
        run: node --run lint:postbuild
      - name: Test
        run: node --run test
  bench:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: build
    strategy:
      matrix:
        shard: ["1/2","2/2"]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'
      - uses: pnpm/action-setup@v4
        with:
          run_install: true
      - name: Build
        run: node --run build:lib
      - name: Run benchmarks
        uses: CodSpeedHQ/action@v3
        with:
          run: pnpm vitest bench --run --shard=${{ matrix.shard }}
          token: ${{ secrets.CODSPEED_TOKEN }}
      - id: repository
        run: echo "name=${GITHUB_REPOSITORY#${GITHUB_REPOSITORY_OWNER}/}" >> $GITHUB_OUTPUT
      - name: Build website
        run: node --run build:website
        env:
          WEBSITE_BASE_PATH: "/${{ steps.repository.outputs.name }}/"
          DEPLOYED_FROM_MAIN: "1"
      - name: Upload website artifacts
        uses: actions/upload-pages-artifact@v4
        with:
          path: website/dist
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
  update-website:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      pages: write
    needs: build
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
